<div class="gamePage">
    <div class="upperInfo">
            <div class="name">
                <p><%= name %>, <%= title %>>EC</p>
            </div>
            <div class="level">
                <p>LvL<%= level %></p>
            </div>
            <div class="coins">
                <p><%= coins %>EC</p>
            </div>
            <form action="/user/logout?_method=DELETE" method="POST">
                <button type="submit">logout</button>
            </form>
            <a href="/quests">Quests</a>
    </div>
    <div class="map">
        <% for(let i = 0; i < map.length; i++) { %>
            <% if(map[i] === 0){ %>
                <div class="tileGrass"></div>
            <% } %>
        <% } %>
    </div>
    <div class="lowerInfo">
        <ul>
            <li>Army: <%= army %> | <%= capacity %></li>
            <li>Attack: <%= stats[0] %> Defense: <%= stats[1] %> Healing: <%= stats[2] %></li>
        </ul>
    </div>
</div>

