<div class="singleQuestPage">

    <div class="questNavigation">
        <h1>Quest</h1>
        <% if(admin){ %>
            <a href="/game/quests/edit/<%= quest.id %>">Edit</a>
        <% } %> 
        <a href="/game/quests">back</a>
    </div>
        
    <div class="singleQuestContainer">
        <div class="markDownTask">
        <h1><%= quest.title %></h1>
        <%- quest.sanitizedHtml %>
        </div>

        <div class="rightside">
        <div class="questReward">
            <h1>Reward:</h1>
            <p><%= quest.requiredLvl * 100 %> &#8512;</p>
        </div>
        <div class="solutions">
            <h1>Solution:</h1>
            <p><%= quest.solutions %> </p>
        </div>
        <% if(level === quest.requiredLvl){ %>
            <div class="updateBtn">
                <form action="/game/updateLvl?_method=PUT" method="POST">
                    <button type="submit">&#10003;</button>
                </form>
            </div>
        <% } else { %>
            <button id="fakeSubmit">&#10003;</button> 
        <% } %>
    </div>
    </div>
    
</div>
